*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #E5E9EC;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container > h2{
    margin-left: 25px;
    margin-top: 12px;
}

.nav{
    background-color: white;
    grid-column: 2 / 5;
}

.sidebar{
    background-color: #FFA351FF;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    padding: 10px;
}

.panel{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    margin: 25px;
}

.panel > .card{
    background-color: white;
    padding: 16px;
    height: 230px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    box-shadow: 2px 3px 2px rgb(0, 0, 0.5);
    border-left: 5px solid #FDCE00;
}

.card > .icon-bar{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.right-side{
    grid-column: 4 / 5;
    width: 250px;
}

.announcement,.trending{
    margin: 12px;
	margin-top: 0px;
}

.t-content,.a-content{
    background-color: white;
    border-radius: 13px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0.5);
    padding: 14px;
    margin-top: 10px;
}

.a-content > p,strong{
    padding: 8px;
}

.a-content > hr{
    margin-bottom: 10px;
    box-shadow: 3px 0px 4px rgb(49, 51, 54);
}

.t-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 0.3em;
}

.t-content > .icon ion-icon{
    font-size: 1.5em;
    padding: 0.3em;   
}

.sidebar ul li{
    list-style: none;
    position: relative;
    padding: 14px;
}

.sidebar ul li:nth-child(1){
    padding: 0px;
    margin-bottom: 1.5em;
}

.sidebar ul li:hover{
    background-color: #FDCE00;
    border-radius: 10px;
}

.sidebar ul li:nth-child(1):hover{
    background-color: #FFA351FF;
}

.sidebar .icon{
    padding: 0.35em;
}

.nav{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 16px;
}

.nav > .search,.items{
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0.3em;
}

.nav > .items{
    grid-row: 2 / 3;
    margin-bottom: 0.15em;
}

.search > .icon ion-icon{
    font-size: 2em;
}

.searchbar{
    background-color: #E5E9EC;
    border-radius: 15px;
	border: none;
    width: 30em;
    height: 1.5em;
    padding: 6px;
    margin-right: 20em;
}

.tag{
    text-align: left;
    padding-right: 30em;
}

.logo{
    background-image: url(./cat.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

button{
    color: white;
    background-color: #FFA351FF;
    width: 6em;
    padding: 0.5em;
    border: none;
    border-radius: 14px;
    margin: 0.4em;
}

.items > .logo{
    width: 60px;
    height: 60px;
}

.icon ion-icon{
    font-size: 1.3em;
}